<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lyue.aw_an">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <service android:name=".MyService" />
        <service android:name=".activity.BluetoothLeService" />

        <receiver android:name=".UITimeReceiver" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EndlessGridLayoutActivity" />
        <activity android:name=".activity.EndlessLinearLayoutActivity" />
        <activity android:name=".activity.EndlessStaggeredGridLayoutActivity" />
        <activity android:name=".activity.LinearLayoutActivity" />
        <activity android:name=".activity.CoordinatorLayoutActivity" />
        <activity android:name=".activity.PachongActivity" />
        <activity android:name=".activity.BluetoothUi" />
    </application>

</manifest>